<!-- <h1>StaticPages#index</h1> -->
<h1>Welcome to the Cupcake Factory</h1>
<h2>Where everything is a cupcake!</h2>
<!-- <p>Hi there! The date and time is <%= Time.now %></p> -->
<%#= image_tag("cupcake1.svg", class:"img-responsive main-image") %>


<%#<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> %>

<%# test_variable = 42 %> <!-- will NOT render on HTML -->

<%#= test_variable %> <!--  WILL render on HTML -->

<%#= test_variable -2 %> <!-- can perform calculations -->

